pset3/plurality/plurality
.vscode/*
.gitignore
pset3/runoff/runoff
pset3/tideman/tideman
pset4/filter/less/filter
pset4/filter/less/out.bmp
pset4/filter/more/images/*
pset4/filter/more/filter
pset4/filter/more/*bmp
pset5/Makefile
pset5/speller/out
pset5/speller/out_1k
pset5/speller/script.py
