{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}
{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for tran in trans %}
                <tr>
                    <td> {{ tran["symbol"] }}</td>
                    <td> {{ tran["shares"] }}</td>
                    <td> {{ tran["price"] }}</td>
                    <td> {{ tran["transacted"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}