{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="4"></td>
                <td> {{ total }} </td>
            </tr>
        </tfoot>
        <tbody>
                {% for symbol, row in ptf.items() %}
                    <tr>
                        <td> {{ symbol }} </td>
                        <td> {{ row["name"] }} </td>
                        <td> {{ row["shares"] }} </td>
                        <td> {{ row["price"] }} </td>
                        <td> {{ row["total"] }}</td>
                    </tr>
                {% endfor %}
        </tbody>
    </table>
{% endblock %}